* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.card {
    background: url(wooden-building-in-the-forest-5965.jpg) center no-repeat;
    background-size: cover;
    width: 18em;
    height: 500px;
    border-radius: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #D7FFFE;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    box-shadow: 5px 5px 20px rgb(170, 160, 160);
    line-height: 2em;
    opacity: .8;
}

p {
    text-align: center;
    letter-spacing: .5em;
}